


<!DOCTYPE html>

<html lang="en">

<head>
   
    <meta charset="utf-8">
    <title>Evolve - Responsive Multi-purpose HTML Theme</title>
    
    <link rel="icon" href="images/evolve.ico">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
   

    @*<link rel="stylesheet" type="text/css" href="~/scripts/rs-plugin/css/settings.css">
    <link rel="stylesheet" type="text/css" href="~/css/colors/grayblue.css" id="colors">*@

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/css/camera.css" id='camera-css'>
    <link rel="stylesheet" type="text/css" href="~/css/switcher.css">*@

   
</head>
<body>

    <header id="header">
        <div class="topbar">
            <div class="container">
                <div class="eight columns call">
                    <ul>
                        <li class="first"><i class="ss-phone"></i> 08069447114</li>
                        <li><i class="ss-mail"></i> q.ajagbe@gmail.com</li>
                    </ul>
                </div>
                <div class="eight columns">
                    <ul class="social-icons right"></ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="two columns">
                <div id="mobile-navigation">
                    <form method="GET" id="menu-search" action="#">
                        <input type="text" value="Start Typing..." onFocus="if (this.value == 'Start Typing...')this.value = '';" onBlur="if (this.value == '')this.value = 'Start Typing...';" />
                    </form>
                    <a href="#menu" class="menu-trigger"><i class="icon-reorder"></i></a>

                </div>
                <div id="logo">
                    <h1><a href="index.html"><img src="~/images/logo.png" alt="Evolve" /></a></h1>
                </div>
            </div>

            <div class="thirteen columns">
                <nav id="navigation" class="menu">
                    <ul id="responsive">

                        <li>
                            @Html.ActionLink("Home", "index", "Home")

                        </li>
                        <li>
                            @Html.ActionLink("Open New Account", "OpenNewBankAccount", "Customer")

                        </li>
                        <li>

                            @Html.ActionLink("Application Status", "CheckApplicationStatus", "Customer", new { customerEmail = User.Identity.Name }, null)


                        </li>
                        @Html.Partial("_LoginPartial")
                        <li>



                        </li>

                    </ul>
                </nav>
            </div>
        </div>

        <section id="header-search-panel">
            <div class="container">
                <div class="search">
                    <div>
                        <form action="#" id="header-search-form" method="get">
                            <a class="close-search" href="#"><i class="ss-delete"></i></a>
                            <input type="text" id="header-search" name="s" value="Start Typing..." autocomplete="off" onFocus="if (this.value == 'Start Typing...')this.value = '';" onBlur="if (this.value == '')this.value = 'Start Typing...';" />

                            <span class="fake-submit-button">
                                <input type="submit" name="submit" value="submit" />
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </header>

    @RenderBody()

    <div id="footer">

        <div class="container">
            <div class="four columns">
                <h3>About</h3>

                <ul class="get-in-touch">
                    <li>
                        <i class="ss-user"></i>
                        <p>
                            Quadri Ajagbe F
                        </p>
                    </li>
                    <li>
                        <i class="ss-phone"></i>
                        <p><strong>Phone:</strong> +234 806 944 7114</p>
                    </li>
                    <li>
                        <i class="ss-mail"></i>
                        <p><strong>Email:</strong> <a href="#">q.ajagbe@gmail.com</a></p>
                    </li>
                </ul>
            </div>


        </div>

    </div>

    <div id="footer-bottom">

        <div class="container">

        </div>

    </div>


    <script src="~/scripts/jquery.min.js"></script>
    <script src="~/scripts/jquery.themepunch.plugins.min.js"></script>
    <script src="~/scripts/jquery.themepunch.revolution.min.js"></script>
    <script src="~/scripts/jquery.themepunch.showbizpro.min.js"></script>
    <script src="~/scripts/appear.js"></script>
    <script src="~/scripts/jquery.easing.min.js"></script>
    <script src="~/scripts/jquery.tooltips.min.js"></script>
    <script src="~/scripts/jquery.magnific-popup.min.js"></script>
    <script src="~/scripts/jquery.superfish.js"></script>
    <script src="~/scripts/jquery.twitter.js"></script>
    <script src="~/scripts/jquery.flexslider.js"></script>
    <script src="~/scripts/jquery.jpanelmenu.js"></script>
    <script src="~/scripts/jquery.zflickrfeed.min.js"></script>
    <script src="~/scripts/jquery.contact.js"></script>
    <script src="~/scripts/jquery.isotope.min.js"></script>
    <script src="~/scripts/jquery.easy-pie-chart.js"></script>
    <script src="~/scripts/parallex.js"></script>
    <script src="~/scripts/ss-gizmo.js"></script>
    <script src="~/scripts/custom.js"></script>


    <script src="~/scripts/switcher.js"></script>

    @RenderSection("scripts", required: false)
</body>


</html>

